html {
    font-family: Georgia, 'Times New Roman', Times, serif ;
  }
  
header {
    font-family: 'Yellowtail', cursive;
    font-style: italic;
    background-color: #52bfee;
    font-size:10ch
  
  }

body{
  background-color: #52bfee;
}

  main {
    max-width: 960px;
    margin: auto;
    margin-top: 30px;
    background-color: #52bfee;
  }

  h2 {
    font-size: 30px;
    padding-bottom: 15px;
  }

  #div1 {
    background-color: gray;
    color:azure;
    font-family:Arial, Helvetica, sans-serif

  }

  h3 {
    font-size: 20px;
    padding-bottom: 15px;
  }
  
  table, th, td {
    border:3px solid rgb(237, 107, 7);
  }
  
  legend {
    border-radius: 25px;
    background-color: darkgray;
    color: black;
    padding: 10px 10px;
  }

  fieldset {
    border-radius: 25px;
    background-color: yellow;
    padding: 20px;
    width: 500px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    border-radius: 25px;
    background-color: darkgray;
    color: black;
    padding: 10px 10px;
  }

  footer img {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
  } 
   
  .review-box{
    font-family: 'Kalam', cursive;
    font-size: larger;
    color:blue;
    background: goldenrod

  }

  #Merch-box{
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    color:green;
    background: yellow
  }

  #boss {
    font-family: 'Kalam', cursive;
    font-size: larger;
    color:blue;
  }